@(user: Option[models.User] = None)(implicit messages: Messages)

@main(user) {
  <div class="container top-bottom-margin">
    <div class="row">
      <div class="col-md-6 text-center">
        <h1 style="font-size: xx-large; color: red" class="glyphicon glyphicon-eye-open"></h1>
        <p>Bezpieczeństwo Twoich dzieci jest naszym priorytetem! Teren żłobka
        Małe Krasnale jest monitorowany, a wszystkie zabawki oraz elementy
        wyposażenia żłobka posiadają atest bezpieczeństwa. Podczas gdy Ty jesteś
        w pracy, my zadbamy o to, żeby Twoje dziecko było bezpieczne i dobrze się
        rozwijało.</p>
      </div>
      <div class="col-md-6 text-center">
        <h1 style="font-size: xx-large; color: green" class="glyphicon glyphicon-tree-deciduous"></h1>
        <p>Lokalizacja we Wrocławiu na dzielnicy Złotniki jest dodatkowym atutem
        naszego żłobka. Jesteśmy zdala od głównej drogi, dzielnica Złotniki jest
        spokojna, zielona i cicha. Nasz ogród pozwoli odetchnąć Twojemu dziecku
        świeżym powietrzem zdala od miejskiego zgiełku.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <h1 style="font-size: xx-large; color: brown" class="glyphicon glyphicon-education"></h1>
        <p>Przede wszystkim chodzi nam o to, aby Twoje dziecko dobrze się bawiło
        i czuło u nas w żłobku, ale rozwój dziecka w tak młodym wieku jest bardzo
        ważny, dlatego nasza wyspecjalizowana kadra zadba o to, żeby Twoje
        dziecko poprzez zabawę i interakcję z innymi dziećmi jak najlepiej
        wykorzystało swój czas z nami.</p>
      </div>
      <div class="col-md-6 text-center">
        <h1 style="font-size: xx-large; color: blue" class="glyphicon glyphicon-cloud"></h1>
        <p>Wierzymy, że każdy rodzic powinien mieć dostęp do jak największej bazy
        wiedzy o swoim dziecku. Będziemy starać sie o to, aby jak najwięcej
        spersonalizowanych informacij, materiałów multimedialnych oraz porad
        dotyczących Twojego dziecka oraz żłobka było dostępnych wyłącznie dla
        Ciebie po zalogowaniu się.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <br/><br/>
        <address class="text-center">
        <h1 style="font-size: xx-large; color: green" class="glyphicon glyphicon-search"></h1>
        <h3>Niepubliczny Żłobek Małe Krasnale</h3>
        <h3>ul. Częstochowska 8</h3>
        <h3>54-033 Wrocław</h3>
        <a class="larger-font" href="www.malekrasnale.pl">www.malekrasnale.pl</a><br/>
        <a class="larger-font" href="mailto:malekrasnale@@o2.pl">malekrasnale@@o2.pl</a><br/>
        <span class="larger-font">Tel. 531647985</span>
        </address>
      </div>
    </div>
  </div>
}
