@(user: Option[models.User] = None)(implicit messages: Messages)

@main(user) {
  <p>
    <ul>
      <li><strong>Jednorazowe wpisowe: 350 zł.</strong></li>
    </ul>
  </p>
  <p>
    <ul>
      <li>CENY BEZ DOTACJI dla dzieci od 20 tygodnia do 36 mc:<br/>
      <strong>Pn-Pt, 6:00-18:00: 580 zł/miesięcznie.</strong></li>
    </ul>
  </p>
  <p>
    <ul>
      <li>CENY Z UWZGLĘDNIENIEM Dotacji z UM (do odwołania) dla dzieci od 20 tygodnia do 36 mc:<br/>
      <strong>Pn-Pt, 6:00-18:00: 450 zł/miesięcznie.</strong></li>
    </ul>
  </p>
  <p>
    <ul>
      <li>1 Godzina dziecka w placówce:<br/>
      <strong>Pn-Pt, 6:00-18:00: 18 zł.</strong></li>
    </ul>
  </p>
  <p>
    <ul>
      <li>Powyższy cennik nie zawiera wyżywienia:<br/>
      <strong>Cena za całodobowe wyżywienie: 12,50 zł (4 posiłki).</strong></li>
    </ul>
  </p>
}
