@(user: Option[models.User] = None)(implicit messages: Messages)

@main(user) {
  <p>
    <table class="table table-hover table-bordered">
      <tr><td>06.00</td><td>08.45</td><td>Oczekiwanie na dzieci. Zabawy ruchowe z elementami gimnastyki wg indywidualnych potrzeb maluszków.</td></tr>
      <tr><td>08.45</td><td>09.00</td><td>Przygotowanie do I śniadania, czynności higieniczne (mycie rączek).</td></tr>
      <tr><td>09.00</td><td>09.30</td><td>Śniadanie. Czynności higieniczno-pielęgnacyjne po posiłku.</td></tr>
      <tr><td>09.30</td><td>10.15</td><td>Zajęcia dydaktyczne - NAUKA POPRZEZ ZABAWĘ (rozwijanie sprawności manualnych, słuchowych, ruchowych, wzrokowych jak i również przestrzennych).</td></tr>
      <tr><td>10.15</td><td>10.30</td><td>II śniadanie. Czynności higieniczno-pielęgnacyjne po posiłku ( w tym edukacja nocnikowa).</td></tr>
      <tr><td>10.30</td><td>11.45</td><td>Zabawa na świeżym powietrzu (w zależności od pogody) lub dowolne zabawy dzieci w sali.</td></tr>
      <tr><td>11.45</td><td>12.00</td><td>Przygotowanie do obiadu (czynności higieniczne).</td></tr>
      <tr><td>12.00</td><td>12.45</td><td>Obiad. Czynności higieny osobistej po posiłku.</td></tr>
      <tr><td>12.45</td><td>14.00</td><td>Popołudniowa drzemka: odpoczynek-leżakowanie przy słuchaniu kołysanek lub bajeczek.</td></tr>
      <tr><td>14.00</td><td>14.30</td><td>„Pobudka”. Czynności higieniczno-pielęgnacyjne.</td></tr>
      <tr><td>14.30</td><td>15.00</td><td>Podwieczorek.</td></tr>
      <tr><td>15.00</td><td>18.00</td><td>Kontynuacja zabaw. Oczekiwanie na rodziców/opiekunów.</td></tr>
      <tr><td>18.00</td><td></td><td>Zamknięcie żłobka.</td></tr>
    </table>
  </p>
}
